* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {

  font-size: 62.5%;

}


body {

  background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  height: 100vh;


}

body, button, input {

  font-family: "DM Sans", sans-serif;

}

button {

  background-color: #ff9500;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background .3s;
  
}

button:hover {

  background-color: #9b5e0a;

}

.hide{

  display: none

}

main {

  background: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
  border-radius: .5rem;
  padding: 4.8rem 6.4rem 6.4rem;
  width: min(42.8rem, 90%);

  margin-top: -12rem;

  text-align: center;

}

/* screen1 */
h1 {

  font-family: "Mont Serrat", sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;


}

h1, p {

  color: #34355B;

}

p {

  font-size: 1.5rem;
  line-height: 2.0rem;
  opacity: .8;
  margin-bottom: 2.0rem;

}

form {

  margin-top: 4.8rem;

}

input, button {

  border: none;
  padding: 1.6rem;
  
}

input {

  background-color: #dce2e9;
  width: 6rem;
  border-radius: .4rem 0 0 .4rem;

}

.screen1 img:hover {

  animation: rumbleCookie 0.5s infinite;

}


/* screen2 */

h2 {
  
  font-size: 2.4rem;
  font-weight: bold;

  margin-bottom: 14.0rem;

}

.screen2 {

  position: relative;

}

.screen2 p {

  position: absolute;
  top: 12vh;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30.0rem;
  height: 5.8rem;

  background: #E4EDF1;
  box-shadow: .2rem .2rem .2rem rgba(85, 85, 85, 0.5);

  font-family: 'Dancing Script';
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #000;

  animation: receivedTheTicket 3s;

}

.screen2 button {

  border-radius: .4rem;

}

/* Animations code */

@keyframes rumbleCookie {

  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  62.5% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }

}

@keyframes receivedTheTicket {

  0% { transform: translateY(20.0rem) scale(0); }
    
  100% { transform: translateY(0) scale(100%); }


}